@media (max-width: 1120px) {
    .header .logo {
        max-width: 190px;
    }

    .character-selection {
        flex-direction: column-reverse;
        max-width: 430px;
        margin: 0 auto;
    }

    .character-selection .characters {
        margin-top: 37px;
    }

    .character-selection .characters .title {
        font-size: 15px;
    }

    .character-selection .characters-list {
        gap: 9px;
    }

    .character-selection .character img {
        width: 80px;
    }

    .character-selection .character-full-image {
        width: 350px;
        height: 350px;
    }

    .selected-character .character-info {
        width: 80%;
        font-size: 16px;
        margin: 0px auto;
    }

}